*{
  margin: 0%;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url('https://m-cdn.phonearena.com/images/article/147370-wide-two_1200/Google-Weather-app-for-Android-is-getting-a-Material-You-redesign.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* Adjust opacity value (0.0 to 1.0) */
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather_container{
  color: black;
}

.temp{
  font-size: 4.5rem;
}

.time_location{
  font-size: 2rem;
}

.condition{
  margin: 0.5rem;
  margin-left: 0.2rem;
}

nav{
  height: 50px;
  margin: 5rem;
}

.search_area{
  padding: 1rem 0;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  font-size: 1.1rem;
  border-bottom: 2px solid black;
  width: 98%;
}

nav form button{
  background-color: bisque;
  margin-top: 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}